:root {
  font-size: 16px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin: 1rem;
}

h1 {
  margin-top: 2.5rem;
}

h2 {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}
