@import './base.css';

#app {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

.content {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.link-external {
  vertical-align: text-top;
  margin-left: 0.2rem;
}
